.body{

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  min-height: 100vh;
}

_w50{
  width: 70%;
  float: left;
  padding-right: 15px;
}
.box{
  display: flex;
  width: 930px;
}
.img_box{
  background-color: rgba(255, 255, 255, 0.5);
  width: 60%;
  height: 90%;
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 20px  0 0 20px;
}
.img_box img{
  width: 100%;
  
}
.form_box{
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(40px);
  padding: 30px 40px;
  width: 50%;
  border-radius: 0 20px 20px 0;
}
.form_box h2{
  font-size: 30px;
}
.form_box p{
  font-weight: bold;
  color: #3D3D3D;
}
.form_box p a{
  color: #FF008A;
  text-decoration: none;
}
.form_box form{
  margin: 20px 0;
}
form .input_group{
  margin-bottom: 15px;
}
form .input_group label{
  color: #3D3D3D;
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}
form .input_group input{
  width: 150%;
  height: 47px;
  background-color: rgba(255, 255, 255, 0.32);
  border-radius: 20px;
  outline: none;
  border: 2px solid transparent;
  padding: 15px;
  font-size: 15px;
  color: #616161;
  transition: all 0.4s ease;
}
form .input_group input:focus{
  border-color: #ff008869;
}
form .input_group button{
  width: 100%;
  height: 47px;
  background: #FF008A;
  border-radius: 20px;
  outline: none;
  border: none;
  margin-top: 15px;
  color: white;
  cursor: pointer;
  font-size: 16px;
}
@media (max-width:930px) {
  .img_box{
      display: none;
  }
  .box{
      width: 700px;
    
  }
  .form_box{
      width: 120%;
      border-radius: 20px;
      
  }
 
  .input_group input {
    text-align: center;
  }
}
@media (max-width:500px) {
  .input_group {
      width: 100%;
      text-align: center;
  }
}

