:root {
  --colour-black: #1e1e1e;
  --colour-white: #ffffff;
}

body {
  background-color: #f6fcff;
  padding: 0;
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
}

input::placeholder,
textarea::placeholder {
  font-family: "Roboto Condensed", sans-serif;
  color: #aaa;
}

input:focus,
textarea:focus {
  outline: none;
}
a,
nav button {
  text-decoration: none;
  background-color: transparent;
  border: none;
  color: black;
  transition: 0.4s;
  font-size: 1em;
  cursor: pointer;
  font-family: "Roboto Condensed", sans-serif;
}

/* Form */

form {
  max-width: 40%;
  margin: 0 auto;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

label span {
  margin-bottom: 0.3em;
  font-weight: bold;
  text-align: left;
}

input,
textarea {
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid black;
  padding: 0.8em 0;
  background-color: transparent;
}

.btn {
  --button: hsl(0, 0%, 12%);
  --button-hover: hsl(0, 0%, 20%);
  --button-active: hsl(0, 0%, 30%);
  --button-visited: hsl(0, 0%, 20%);
  --button-colour: var(--colour-white);
  --button-border: var(--colour-black);
}

button[disabled] {
  background-color: #aaa;
}

.container .error {
  color: red;
  background-color: #f8d7fa;
  border: 1px solid #f5c6cb;
  padding: 5px;
  border-radius: 5px;
}

.glow-on-hover {
  margin-top: 3em;
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
